/**
 * @name OutlookEdit
 * @author Disease#5663
 * @version 1.0.0
 * @description Based on Outlook Web.
 * @source https://github.com/maenDisease/Outlook
 * @invite BShu37e4jg
 * @website https://maendisease.github.io/
 * @authorId 678469587444170762
 * @BDEditor Outlook
*/

@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@100;300;400;500;700&display=swap');
@import url('https://maendisease.github.io/Outlook/Outlook.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css');
:root {
    --home-image: url('https://maendisease.github.io/Outlook/illustrations/homeimage-default.avif');
    --accent-hue: 32;
    --accent-saturation: 85%;
    --accent-brightness: 45%;
    --gradient-toggle: 0;
    --gradient-hue-shift: 0.2;
    --gradient-saturation: 50%;
    --gradient-deg: 179.52deg;
    --customFont: Gochi Hand;
}


/* Any custom CSS below here */

.container-YkUktl::before {
    content: "i love women 😎";
    font-weight: 600;
    font-family: var(--font-display);
    font-size: 18px;
    line-height: var(--titlebar-height);
    margin-right: auto;
    color: white;
    margin-left: 10px;
    -webkit-app-region: drag;
}